h2 My Heroes
div
  label Hero name:
  input('#heroName')
  button(
    '(click)'="add(heroName.value); heroName.value=''"
  ) Add
  ul.heroes
    li(
      '*ngFor'="let hero of heroes"
      '(click)'="onSelect(hero)"
      '[class.selected]'="hero === selectedHero"
    )
      span.badge {{hero.id}}
      span {{hero.name}}
      button.delete(
        '(click)'="delete(hero); $event.stopPropagation()"
      ) X

div('*ngIf'="selectedHero")
  h2 {{selectedHero.name | uppercase}}
  button(
    '(click)'="gotoDetail()"
  ) View Details
